<div class="container">
  <div class="title">
    <div>
      <h1>linkr</h1>
      <h2>save, share and discover the best links on the web</h2>
    </div>
  </div>
  <div class="signUpContainer">
    <form [formGroup]="form">
      <input
        placeholder="e-mail"
        type="text"
        required
        formControlName="email"
      />

      <input
        placeholder="password"
        type="password"
        required
        formControlName="password"
      />

      <input
        placeholder="name"
        type="text"
        required
        formControlName="name"
      />

      <input
        placeholder="picture url"
        type="text"
        required
        formControlName="picUrl"
      />

      <button type="submit" (click)="submit()">Sign Up</button>
    </form>
    <a href="/">Switch back to log in</a>
  </div>
</div>
